<div class="container">
  <!--ngForm , ngModel , ngModelGroup-->
  <!--Banana In a Box [(ngModel)]-->
  <h1>Reactive Form</h1>
  <form [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()" #form="ngForm">
       <div class="form-group">
        <input formControlName="UserName" [class.is-invalid]="RegistrationForm.get('UserName').invalid
        && RegistrationForm.get('UserName').touched
        " type="text" class="fg" placeholder="Enter Your Name Here" name="name"  >
       </div>
       <small class="danger" *ngIf="RegistrationForm.get('UserName').value==''">Required User Name</small>
       <small class="danger" *ngIf="RegistrationForm.get('UserName').errors?.minlength">User Name Must Be At Least 5 Characters</small>
       <small class="danger" *ngIf="RegistrationForm.get('UserName').errors?.maxlength">User Name Must Be At Least 20 Characters</small>
       <small class="danger" *ngIf="RegistrationForm.get('UserName').errors?.forbiddenName">Not Allowed User Name</small>
       <div>
        <input formControlName="Password" type="password" class="fg" placeholder="Enter Your Password Here" name="password" >
       </div>
       <div>
        <input formControlName="ConfirmPassword" type="password" class="fg" placeholder="Enter Your Password Again" name="ConfirmPassword" >
       </div>
       <small class="danger" *ngIf="RegistrationForm.errors?.MissMatch">Two Passwords Don't Match</small>
       <div formGroupName="Address">
         <div>
        <input formControlName="Country" type="text" class="fg" placeholder="Country Name" name="Contry" >
      </div>
      <div>
       <input formControlName="City" type="text" class="fg" placeholder="City Name" name="City" >
      </div>
      <div>
       <input formControlName="PostalCode" type="number" class="fg" placeholder="Postal Code" name="PostalCode" >
      </div>
       </div>
       <div>
        <button class="btn btn-primary" (click)="AddAlternativeAddress()">Add Alternative Email</button>
        <div *ngFor="let address of AlternativeAddress.controls;let i=index">
                <input  type="text" [formControlName]="i" class="fg" placeholder="Alternative Address">
        </div>
       </div>
       <button class="btn btn-primary" >Submit</button>
       <button class="btn btn-primary" type="button" (click)="LaodAPIData()" >Load API Data</button>
      </form>
  </div>
